* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f0077;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-box {
  display: flex;
}
.search-box input {
  border: none;
  outline: none;
  /* padding: 20px 100px; */
  padding: 10px 100px;
  font-size: 20px;
  background-color: #705ed6;
  border-radius: 5px 0 0 5px;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.search-box input::placeholder {
  /* font-size: 20px; */
  color: #f1f1f1;
  opacity: 1;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.search-box button {
  border: none;
  outline: none;
  padding: 10px 50px;
  font-size: 20px;
  color: #f1f1f1;
  background-image: linear-gradient(to right, #0088e1, #00b1f7);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.search-box button:hover {
  background-image: linear-gradient(to right, #00b1f7, #0088e1);
}

section {
  background-color: transparent;
  height: 90vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  height: 100%;
  padding: 100px;
}

.container-forecast {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.forecast-current {
  display: flex;
  justify-content: space-around;
  background-color: #4719ba;
  border-radius: 5px 5px 0 0;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.forecast-hour,
.forecast-week {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.forecast-current-left {
  display: flex;
  align-items: center;
}
.desc-curr {
  text-align: center;
}
.desc-hour {
  display: flex;
  align-items: center;
}
.forecast-hour-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.forecast-week-result {
  cursor: pointer;
  display: flex;
  padding: 5px;
  font-size: 19px;
}

img {
  width: 100%;
  height: 100%;
}

.active {
  background-color: #4719ba;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.container-forecast {
  background-color: #3c0ab6;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.spinner {
  margin: 10px auto;
  text-align: center;
}
.spinner h2 {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1424px) {
  .forecast-current-left {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
  }
  .forecast-current-left img {
    width: 45%;
  }
  .forecast-current-right {
    padding: 0 10px;
    font-size: 12px;
  }

  .forecast-hour-result img {
    width: 50%;
  }

  .forecast-hour-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
  }
  .search-box input {
    padding: 10px 50px;
    font-size: 10px;
  }

  .search-box button {
    padding: 10px 30px;
    font-size: 15px;
  }
  .forecast-week-result {
    display: flex;
    padding: 5px;
    font-size: 10px;
  }

  .forecast-week-result img {
    width: 40%;
  }
  .desc-week h2 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    gap: 30px;
    height: 100vh;
    padding: 40px 100px;
  }

  .forecast-current {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forecast-current-left {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
  }
  .forecast-current-left img {
    width: 45%;
  }
  .forecast-current-right {
    padding: 0 10px;
    font-size: 12px;
  }

  .forecast-hour-result img {
    width: 50%;
  }

  .forecast-hour-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7px;
  }
  .search-box input {
    padding: 10px 30px;
    font-size: 10px;
  }

  .search-box button {
    padding: 10px 30px;
    font-size: 10px;
  }
  .forecast-week {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .forecast-week-result {
    display: flex;
    padding: 5px;
    font-size: 7px;
  }

  .forecast-week-result img {
    width: 30%;
  }
  .desc-week h2 {
    font-size: 7px;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: none;
    gap: 10px;
    height: 100vh;
    padding: 20px;
  }

  .forecast-current {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forecast-current-left {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 10px;
  }
  .forecast-current-left img {
    width: 40%;
  }
  .forecast-current-right {
    padding: 0 10px;
    font-size: 10px;
  }

  .forecast-hour {
    max-width: 479px;
  }
  .forecast-hour-result img {
    width: 50%;
  }

  .forecast-hour-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5px;
  }
  .search-box input {
    padding: 7px 15px;
    font-size: 10px;
  }

  .search-box button {
    padding: 5px 5px;
    font-size: 10px;
  }
  .forecast-week {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .forecast-week-result {
    display: flex;
    padding: 5px;
    font-size: 7px;
  }

  .forecast-week-result img {
    width: 30%;
  }
  .desc-week h2 {
    font-size: 7px;
  }
}
